<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="samsungTv" class="di.tv02.SamsungTv">
		<constructor-arg ref="abcSpeaker" />
		<constructor-arg ref="xyzSpeaker" />
	</bean>

	<bean id="lgTv" class="di.tv02.LgTv"></bean>
	<bean id="abcSpeaker" class="di.tv02.ABCSpeaker">
		<constructor-arg value="ABC"></constructor-arg>
	</bean>
	<bean id="xyzSpeaker" class="di.tv02.XYZSpeaker">
		<constructor-arg value="XYZ"></constructor-arg>
	</bean>

</beans>