<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    https://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="addCalculator" class="di.cal01.AddCalculator"></bean>
    <bean id="subCalculator" class="di.cal01.SubCalculator"></bean>
    <bean id="mulCalculator" class="di.cal01.MulCalculator"></bean>
    <bean id="divCalculator" class="di.cal01.DivCalculator"></bean>


</beans>
